*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    background-color: #1A2238;
    height: 100vh;
}
.left-background{
    height: 100vh;
    width: 55%;
    /* background-color: #1A2238; */
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}
main{
    /* width: 800px; */
    /* border: gold 2px solid; */
    max-width: 1180px;
    margin: 2rem auto 0;
    /* height: 100%; */
}
.container{
    width: 90vw;
    margin: 0 auto;
    max-width: 1800px;
    position: relative;
    /* border: solid yellowgreen 2px; */
    /* height: 100vh; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.note-area .container {
    height: 100vh
}
 main .logo{
    padding: 2rem 0;
    /* margin: auto; */
    text-align:left;
}
.logo img{
    width: 7rem;
}

/*  === Register === */
.register{
    /*
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1500px;
    border: solid 1px coral;
    margin: auto;
    justify-content:center
    align-items:center*/
    display: flex;
    /* border: solid 1px coral; */
    justify-content: center;
    gap: 10rem;
}

/* *** Register img *** */

.register__img{
    /* border: solid 1px green; */
    /* background-color:#1A2238 ;
    height: 100vh;
    overflow: visible; */
    /* background-color: cyan; */
}
.register__text{
    /* background-color: darkorange; */
    /* height: 100%; */
    /* align-self: center; */
}
.register__img img{
    width: 23rem;
    margin-left: 5rem;
    animation: up_down 2s linear infinite alternate;
}

/* *** Register info **** */
.register__info{
    background-color: white;
    width: 19rem;
    /* padding: 1rem 2rem; */
    /* border: solid red 1px; */
    padding: 3rem 1.5rem;
    border-radius: 22px;
    color: #1A2238;
}
.register__info h3{
    /* margin-top: 2.5rem; */
    font-size: 1.4rem;
    text-align: left;
}
.register__info span{
    /* font-size: 1rem; */
}
.register__msg{
    display: block;
    margin-bottom: 2rem;
    font-size: 1rem ;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    text-align: left;
}

/* *** form *** */
.register__form{
    /* border: solid blue 2px; */
    display: flex;
    flex-direction: column;
}
.form-input input{
    outline: none;
    /* width: 19rem; */
    /* margin:auto; */
    padding: 0.7rem 0 0.7rem 40px;
    border-radius:20px;
    border:solid 0.4px rgba(51, 51, 51, 0.192);
    width: 100%;
}
input::placeholder{
    color: rgba(51, 51, 51, 0.37);
}
.btn button{
    color: white;
    background-color: #FF6A3D;
    /* width: 19rem; */
    border: none;
    padding: 0.8rem;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

.form-input{
    position: relative;
    margin-bottom: 0.7rem;
}
.input-icon{
    position: absolute;
    left: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-icon i{
    color: rgba(51, 51, 51, 0.37);
}
.form-msg{
    font-size: 0.7rem;
    display: block;
    margin-top: 0.8rem;
    text-align: center;
}
.form-msg a{
    color: #FF6A3D;
}
/* ======== Animaiton ======== */
@keyframes up_down {
    0%{
        transform: translateY(-2%);
    }
    100%{
        transform: translateY(+2%);
    }
}


/* ############ USER PAGE ########### */
.user{
    background-color:#EDE7EB ;
    height:100vh;
}
header{
    /* position: fixed;
    top: 0;
    width: 100%; */
    background-color: #1A2238;
    padding:1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed;
    display: block;
    width: 100%;
    z-index: 10;
    margin-bottom: 10rem; */

    /* height: 100px; */
}
nav{
  /* border: solid 1px yellow; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  
} 
nav a .logo img{
    width: 100px;
}
.user-avatar{
  width: 40px;
  height: 40px;
  background-color: #9DAAF2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-avatar span{
  color: white;
  font-size: 14px;
}

/* ###### Note Input ###### */
.note-inputs{
    /* border:solid red 1px; */
    margin-top: 2rem;
    display: inline-block;
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
}
.note-inputs form input{
    display: block;
    border: none;
    outline: none;
}
#title{
    padding: 0.2rem;
    width: 100%;
}
#title::placeholder{
    font-size: 1rem;
}
#note-content{
    padding:0.2rem;
    border: none;
    outline: none;
    resize: none;
}
#note-content::placeholder{
    color: rgba(51, 51, 51, 0.37);
    font-size: 1rem;
}
.note-actions{
    text-align: right;
}
.note-actions button{
    outline: none;
    border:none;
    padding:5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 3px;
}
.note-actions button i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.img-icon{
    margin-right: 7px;
    /* cursor: pointer; */
}
.add-icon{
    background-color: #FF6A3D;
    color: white;
}
/* ###### Note ###### */
.note{
    margin-top: 2rem;
    margin-left: 2rem;
    width: 260px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    padding: 0.5rem;
}
.note__img{
    width: 100%;
}
.note__text{
    padding: 0.5rem;
    text-align:left;
    padding-bottom: 0.7rem;
}
.note__text p{
    font-size: 0.95rem;
}
.note__delete{
    text-align: right;
}
.note__delete i{
    margin-right: 0.2rem;
    cursor: pointer;
    color: #1A2238;
    transform: 0.2s ease;
}
.note__delete i:hover{
    color: rgb(192, 8, 8);
}
/* ######## NOTE GRID ######### */
.note-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,300px));
    gap: 0.5rem;
}
.upld-img{
    width:100px
}